<%- include('partials/header') -%>


<h1> <%= category %> </h1>


<!--  This Loop is for showing the array in reverse,
 that is present in this cateogry document -->

<% for(var i= (allPosts.length-1); i>=(0); i--){ %>
<h2 class="mt-5">
  <%  if(i>=0){ %>
  <%= allPosts[i].title %>
  <%  } %>
</h2>

<p>
  <%  if(i>=0){ %>
  <%= allPosts[i].body.substring(0,500) + "..." %>
  <a href="/posts/<%= allPosts[i].title %>">Read More</a>
  <%  } %>
</p>
<% } %>

<%- include('partials/footer') -%>
